<!DOCTYPE html>
<html>
<head>
  <!-- Include any necessary styles and scripts here -->
</head>
    <body>
    <video id="localVideo" autoplay playsinline muted></video>

    <script>

        // JavaScript to access the user's camera and set the video source
        const localVideo = document.getElementById('localVideo');

        async function startVideo() {
        try {
            const stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
            localVideo.srcObject = stream;
        } catch (error) {
                console.error('Error accessing camera:', error);
            }
        }

        startVideo();

        const videoPlayer = document.getElementById('localVideo');
        const eventSource = new EventSource('/live');

        eventSource.addEventListener('video_frame', (event) => {
            const videoData = event.data;
            // Append the received video data to the video element
            videoPlayer.src = 'data:video/mp4;base64,' + btoa(videoData);
        });

        eventSource.onopen = (event) => {
            console.log('SSE connection opened');
        };

        eventSource.onerror = (event) => {
            console.error('SSE error:', event);
            eventSource.close();
        };
    </script>
    
    </body>
</html>